body {
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
  font-family: Arial;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 600px;
  margin: 100px auto;
  text-align: center;
}

.big input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
}

button {
  background: orange;
  color: white;
  border: none;
  padding: 12px;
  margin: 10px;
  border-radius: 8px;
}

.secondary {
  background: gray;
}
